@keyframes slider {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.card-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    border-radius: 24px;
    gap: 30px;
}

.card {
    max-width: 408px;
    max-height: 570px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.background-card {
    width: 100%;
    max-width: 845px;
    border-radius: 18px;
}

.content-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.card-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin: 35px 35px 20px;
    white-space: pre-line;
}

.card-description {
    font-size: 1.125rem;
    line-height: 24px;
    margin-left: 35px;
    margin-right: 20px;
    white-space: pre-line;
}

.card-description-2 {
    margin-bottom: 40px;
}

.image-card-1 {
    bottom: 32px;
    position: absolute;
    object-fit: contain;
    right: 0px;
    width: 90%;
}

.image-card-2, .image-card-3 {
    bottom: 0;
    left: 50%;
    position: absolute;
    max-width: 87%;
    transform: translate(-50%);
}

.image-card-4 {
    flex: 1 0 auto;
    margin-top: 15px;
    object-fit: scale-down;
}