.faq-container {
    margin: 60px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    margin-bottom: 50px;
}

.faq-item {
    background-color: #1a1321;
    border-radius: 24px;
    margin-bottom: 20px;
    max-width: 840px;
    width: 100%;
    user-select: none;
}

.faq-toggle {
    display: none;
}

.faq-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 25px 25px 40px;
    cursor: pointer;
}

.faq-question {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .23px;
    line-height: 23px;
    text-align: left;
}

.faq-answer {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.6s ease;
}

.faq-toggle:checked ~ .faq-answer {
    grid-template-rows: 1fr;
}

.faq-answer > div {
    min-height: 0;
    margin-left: 45px;
    margin-right: 30px;
    text-align: left;
}

.faq-answer a {
    text-decoration: underline;
    /* font-weight: 600; */
}

.faq-icon {
    transition: transform 0.6s ease;
}

.faq-toggle:checked ~ .faq-content .faq-icon {
    transform: rotate(180deg);
}

.faq-answer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 60px;
}

/* Tablet */
@media (max-width: 1024px) {
    .faq-title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 40px;
    }
    
    .faq-item {
        max-width: 700px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .faq-container {
        margin: 40px 10px 60px;
    }
    
    .faq-title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 10px;
    }
    
    .faq-item {
        max-width: 100%;
    }
    
    .faq-content {
        margin: 20px 15px 20px 25px;
    }
    
    .faq-question {
        font-size: 16px;
        line-height: 20px;
    }
    
    .faq-icon {
        width: 30px;
        height: 30px;
    }
    
    .faq-answer > div {
        margin-left: 25px;
        margin-right: 20px;
    }
    
    .faq-answer p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}