@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: white;
  font-family: 'Euclid Circular A', Arial, Helvetica, sans-serif;
  background-color: #090110;
}

.banner-announce {
  font-weight: 500;
  color: black;
  font-size: small;
  letter-spacing: .2px;
  line-height: 22px;
}

.overlay {
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

span.slip {
  color: #d295ff;
}

span.slip-2 {
  color: #91C1F2;
}

span.slip-3 {
  color: #FFC0D3;
}

span.accent {
  font-weight: 700;
}